@media (min-width: 620px) {
  #menu {
    grid-column: 3;
  }
  .list__container {
    grid-column: 1 / 4;
    padding: 1em;
  }
  .nav__list {
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: end;
  }
  .sec__1-titel {
    padding: 4em;
  }
  .titel-p1 {
    font-size: 1.4rem;
  }
  .titel-h1 {
    font-size: 2.5rem;
  }
  .titel-p2 {
    font-size: 0.8rem;
  }
  .sec__1-img {
    max-width: 400px;
  }
  .sec__1-desc {
    grid-template-columns: 50% auto;
    margin-top: 2em;
    padding-top: 6em;
  }
  .sec__1-content {
    font-size: 1.2rem;
  }
  .sec3-btn {
    font-size: 0.8rem;
  }
  .sec__4-content {
    grid-template-columns: 50% 50%;
    padding: 0 2em;
  }
  .sec__5-content {
    grid-template-columns: auto auto;
  }
  .reviews.hide {
    display: block;
  }
  .sec__6 {
    font-size: 1rem;
  }
  .footer {
    justify-items: center;
  }
  .footer__container {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 768px) {
  .list__container {
    font-size: 0.9rem;
  }
  .sec__1-titel {
    padding: 6em;
  }
  .sec__1-img {
    max-width: 500px;
  }
  .sec__1-desc {
    margin-top: 3em;
  }
  .sec__2-container {
    grid-template-columns: auto auto auto;
  }
  .sec__3-container {
    grid-template-columns: auto auto;
  }
  .footer__container {
    padding: 2em;
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  a.show {
    display: none;
  }
  .list__container.hide {
    display: flex;
    grid-column: 2/3;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .sec__1-titel {
    padding: 8em;
  }
  .sec__1-img {
    max-width: 600px;
  }
  .sec__1-desc {
    margin-top: 4em;
  }
  .sec__1-content {
    font-size: 1.5rem;
  }
  .sec__3 {
    padding: 4em;
  }
  .sec__6 {
    padding: 5rem;
  }
  .footer__container {
    padding: 3em;
  }
}
